.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 48px;
}

.nav-links {
  display: flex;
  gap: 16px;
}

.nav-link {
  height: 30px;
  background-color: red;
  display: flex;
  align-items: center;
}
