.kpi-card-container {
  position: relative;
  text-align: center;

  padding: 2rem;
  border-radius: 16px;
  border: 0.5px solid #a79d9d;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
}

.kpi-card-container:hover {
  transform: rotate(-2deg);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.kpi-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.kpi-header h1 {
  margin: 0;
  padding: 0;
}

.kpi-header span {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 24px;
  right: 8px;
}

.kpi-tagline {
  font-size: 14px;
}
