.container:first-child {
  border: 10px solid yellow;
}

/* pseudo selectors */
.box {
  width: 100px;
  height: 100px;
  background-color: red;
  /* try this without the linear and see what happens */
  animation: slide 2s linear infinite;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  25% {
    background-color: green;
    margin-left: 25px;
  }
  50% {
    background-color: green;
    margin-left: 50px;
  }
  75% {
    margin-left: 75px;
  }
  100% {
    margin-left: 100px;
  }
}

.box:hover {
  /* width: 50px;
  height: 50px; */
  background-color: blue;
  font-size: 40px;
}

.box:active {
  background-color: green;
}

.input:focus {
  outline: none;
  border: 2px solid orange;
}
