body {
  background-color: #1f1f1f;
  margin: 0;
}

.box {
  width: 50px;
  height: 50px;
  display: inline-block;
  /* background-color: indigo; */
  border: 1px solid white;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
  /* align in the center */
  line-height: 50px;
}

.people {
  font-family: monospace;
}

#box1 {
  background-color: red;
}

#box2 {
  background-color: blue;
}
