.people-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.people-container * {
  flex: 1;
  width: 50px;
  text-align: left;
}

.person-container {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
}
